@font-face{
    font-family: 'Corinthia';
    src: url('../fonts/Corinthia-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;         
}

@font-face  {
    font-family: 'Corinthia';
    src: url('../fonts/Corinthia-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face  {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/Cormorant-Garamond-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face  {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/Cormorant-Garamond-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face  {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

